ThePerfectFrame_Part2\.vscode
ThePerfectFrame_Part2\dist
ThePerfectFrame_Part2\frontend\node_modules
ThePerfectFrame_Part2\frontend\main.js
ThePerfectFrame_Part2\frontend\package-lock.json
ThePerfectFrame_Part2\node_modules
ThePerfectFrame_Part2\perfect-frame
ThePerfectFrame_Part2\package-lock.json
ThePerfectFrame_Part2\perfectframe.code-workspace
ThePerfectFrame_Part1\ThePerfectFrame_Part1.code-workspace